{{ define "shorten/result" }}
{{ template "partial/header" }}

{{ template "partial/navbar" .}}

<body>

<script src="/assets/clipboard.js"></script>

<div class="container">
  <div class="row row-cols-1">
    <div class="col">

<div class="card" style="margin: 0 auto; float: none; margin-bottom: 10px; margin-top: 5rem; width: 50rem;">
    <h5 class="card-header">Skrucony link</h5>
  <div class="card-body">
    {{/* This is some text within a card body. */}}

    <div class="d-flex flex-row"> 
        <input class = "w-75 mr-2" id="shortenedUrl" value="{{.ShortenedUrl}}" disabled></input>
        <button class="btn btn-primary" onclick="copyToClipboard()" style="margin-left: auto; margin-right: 0;">Skopiuj</button>
    </div>

  </div>
</div>

    </div>
  </div>
</div>

</body>

{{ template "partial/footer" }}
{{ end }}