{{ define "partial/navbar" }}

{{/* navbar-dark bg-dark text-light */}}

<div class="container-fluid">
    <div class='navbar nav-pills  text-light'>
        <a class="navbar-brand" href="/">
            <img style="display: inline; max-width: 2.5rem; height: auto;" src="/assets/arrow_transparent.png"/>
            krutki.pl
        </a>


{{/* with login */}}

{{ if .User }}

            <ul class='nav justify-content-end'>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Skruć link</a>
                </li>
            {{ if or (eq .User.Rank "admin") (eq .User.Rank "mod") }}
            
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/manage-links">Linki</a>
                </li>

            {{ end }}
            {{ if eq .User.Rank "admin" }}
            
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/manage-users">Użytkownicy</a>
                </li>

            {{ end }}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/about">O stronie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/logout">Wyloguj</a>
                </li>

                <li class="nav-link disabled" aria-current="page">
                    <p>({{.User.Username}})</p>
                </li>
            </ul>

{{/* without login */}}

{{ else }}

            <ul class='nav justify-content-end'>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Skruć link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/about">O stronie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/login">Zaloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/register">Zarejestruj</a>
                </li>
            </ul>

{{ end }}

    </div>
</div>
{{ end }}